@media (max-width: 768px) {
  .results-container {
    max-width: 400px;
    padding: 16px 0;
  }
  .movie-card {
    flex-direction: column;
    max-width: 320px;
  }

  .movie-poster,
  .movie-info {
    width: 100%;
  }

  .movie-info {
    padding: 24px;
  }

  .movie-overview {
    height: auto; 
    min-height: 100px; 
    max-height: 200px; 
    overflow: auto;
  }
  .new-search-button {
    max-width: 320px; 
  }
}

@media (max-width: 480px) {
  .results-container {
    max-width: 100%;
    padding: 16px;
  }
  .movie-card {
    max-width: 100%;
  }
  .new-search-button {
    max-width: 100%;
  }
}
